.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 70vh;
}
.header .bg {
  position: absolute;
  width: 1100px;
  z-index: -1;
  left: -100px;
  top: -300px;
}
.header .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header .header-content .header-txt {
  width: 50%;
}
.header .header-content .header-txt h1 {
  font-size: 55px;
  font-weight: 500;
  color: #fefffb;
  line-height: 70px;
  margin-bottom: 25px;
}
.header .header-content .header-txt span {
  font-weight: 800;
}
.header .header-content .header-txt p {
  font-size: 16px;
  font-weight: 400;
  color: #d9d9d9;
  margin-bottom: 35px;
}
.header .header-content .header-img {
  width: 50%;
}
.header .header-content .header-img .lap {
  width: 650px;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.menu .logo {
  font-size: 26px;
  font-weight: 800;
  color: aliceblue;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 18px;
  font-weight: 600;
  color: #dfdde0;
  padding: 20px;
  display: block;
}
.menu .navbar ul li a:hover {
  color: #fd00ad;
}
.menu #menu {
  display: none;
}
.menu .menu-icono {
  width: 25px;
}
.menu label {
  cursor: pointer;
  display: none;
}

.btn-1 {
  display: inline-block;
  padding: 13px 35px;
  color: #dfdde0;
  border-radius: 25px;
  background: linear-gradient(90deg, rgb(131, 45, 153) 33%, rgb(193, 58, 143) 69%, rgb(196, 37, 116) 100%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.services {
  padding: 50px 0;
  text-align: center;
}
.services .info {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  color: #fd00ad;
  padding: 2px 45px;
  border-radius: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #40223a;
  margin-bottom: 15px;
}
.services h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 45px;
}
.services .services-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.services .services-content .services-txt {
  width: 50%;
}
.services .services-content .services-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #151c24;
  padding: 15px 20px;
  border-radius: 25px;
  width: 500px;
  margin-bottom: 35px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.services .services-content .services-card img {
  width: 25px;
  margin-right: 25px;
}
.services .services-content .services-card .card-txt {
  text-align: left;
}
.services .services-content .services-card .card-txt h3 {
  font-size: 16px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 10px;
}
.services .services-content .services-card .card-txt p {
  font-size: 16px;
  font-weight: 400;
  color: #8d8d8d;
  margin-bottom: 10px;
}
.services .services-content .services-card .card-txt a {
  font-size: 16px;
  font-weight: 600;
  color: #fefffb;
}
.services .services-content .services-img {
  width: 50%;
}
.services .services-content .services-img img {
  width: 550px;
}

.prices-sec {
  padding: 80px 0;
}
.prices-sec .prices {
  display: flex;
  justify-content: space-between;
}
.prices-sec .prices .price {
  background-color: #151c24;
  padding-bottom: 20px;
  margin: 0 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  width: 30%;
  height: 500px;
  transition: transform 0.3s;
}
.prices-sec .prices .price:hover {
  transform: scale(1.05);
}
.prices-sec .prices .price h3 {
  font-size: 30px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 35px;
  padding: 15px;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(90deg, rgb(131, 45, 153) 33%, rgb(193, 58, 143) 69%, rgb(196, 37, 116) 100%);
}
.prices-sec .prices .price ul {
  margin-top: 55px;
}
.prices-sec .prices .price ul li {
  font-size: 16px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 30px;
}
.prices-sec .prices .price p {
  font-size: 18px;
  color: #ba00fd;
}

.footer-1 {
  padding-top: 40px;
  background-color: #151c24;
}

@media (max-width: 991px) {
  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #151c24;
    display: none;
  }
  .menu .navbar#menu:checked ~ .menu .navbar {
    display: initial;
  }
  .bg {
    width: 300px;
    left: -100px;
    top: -50px;
  }
  .header {
    min-height: 45vh;
  }
  .header .header-content {
    flex-direction: column;
    padding: 180px 30px 0 30px;
    text-align: center;
  }
  .header .header-content .header-txt {
    width: 100%;
  }
  .header .header-content .header-txt h1 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .header .header-content .header-img {
    width: 100%;
  }
  .header .header-content .header-img .lap {
    width: 250px;
  }
  .header .header-content .btn-1 {
    margin-bottom: 25px;
  }
  .services {
    padding: 30px;
  }
  .services .services-content {
    flex-direction: column;
  }
  .services .services-content .services-txt,
  .services .services-content .services-img,
  .services .services-content .services-card {
    width: 100%;
  }
  .services .services-content .services-img img {
    width: 250px;
  }
  .prices-sec {
    padding: 0;
  }
  .prices-sec .prices {
    flex-direction: column;
    align-items: center;
  }
  .prices-sec .prices .price {
    width: 70%;
    height: 400px;
    margin-bottom: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins variant1", sans-serif;
  background-color: #1c242f;
}

/*# sourceMappingURL=style.css.map */
