.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #f01515;
    width: 100%;
    z-index: 100;
    padding: 10px 20px;
    position: relative;
    background-color: #333;
  }